{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>
        {% block title %}
        Blog
        {% endblock %}
    </title>
</head>

<body class="bg-dark text-white">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary">
    <div class="container-fluid">
        
        <!-- LOGO -->
        <a class="navbar-brand fw-bold" href="{% url 'tweet_list' %}">Tweetbar</a>

        <!-- MOBILE BUTTON -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAV LINKS -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- LEFT SIDE -->
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tweet_list' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tweet_create' %}">Create Tweet</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>

            </ul>

            <!-- RIGHT SIDE -->
            <div class="d-flex">

                {% if user.is_authenticated %}
                    <span class="navbar-text me-3">
                        Welcome, {{ user.username }}
                    </span>

                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-sm">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-sm me-2">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-success btn-sm">Register</a>
                {% endif %}

            </div>

        </div>
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="container mt-5 text-center">
    {% block content %}
    {% endblock %}
</div>

<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>